.footer {
  background: rgba(6, 12, 34, 0.8);
  color: #eee;
  padding: 1rem;
}
.footer_logo_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer_logo {
  height: 5rem;
  width: 5rem;
  border-radius: 15px;
  position: relative;
  top: .175rem;
}
.footer_logo_text {
  font-size: 1.5rem;
  color: #fff;
  font-weight: bold;
  margin-left: .75rem;
}
.footer_content {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer_content a {
  transition: 200ms ease-in-out;
}
.footer_content a:hover {
  color: #fff;
}
.footer_content a svg {
  fill: #eee;
  transition: 200ms ease-in-out;
}
.footer_content a:hover svg {
  fill: #fff;
}
.footer_content_photoCredits {
  font-size: .75rem;
  color: rgba(238, 238, 238, .5);
}
.footer_content_paragraph {
  margin: 1rem 0;
}
.footer_content_links {
  display: flex;
  justify-content: center;
  align-items: center;  
}
.footer_content_links a:not(:last-of-type) {
  margin-right: .5rem;
}

